@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap');

body{
  background: url('../img/bsd.jpg') top center / 230px no-repeat, linear-gradient(45deg, #A86132, #3A104D);
  font-family: 'Oswald', sans-serif;
  font-size: 28px;
  color: white;
  h1{
    font-size: 22px;
    text-align: center;
  }
}
.GridWrap {
  position: relative;
  max-width: 300px;
  display: block;
  margin: 20vh auto;

}

.grid-4-5{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  gap: 4px 4px;
  div{
    &:hover
    {
      background: #fff;
      color: #000;
    }
    cursor: help;
    will-change: background;
    transition: .5s ease background;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(45deg, transparent, #73919eaa);
    box-shadow: 0 0 1px black;
    border-radius: 3px;
  }
}

#input, #output{
  padding-right: 10px;
  display: block;
  width: 100%;
  height: 40px;
  background: linear-gradient(45deg, transparent, #73919eaa);
  box-shadow: 0 0 1px black;
  border-radius: 3px;
  margin-bottom: 10px;
  text-align: right;
  box-sizing: border-box;
  overflow: hidden;
}

.active {
  color: #e0cdf0;
  position: relative;
  text-shadow: 1px -2px 1px black;
}

.devil {
  opacity: 0;
  right: 0;
  top: 10px;
  width: 40px;
  height: 40px;
  position: absolute;
  display: block;
  background: url("../img/DanceJustice.gif") center / contain no-repeat;
}
